.feedBack {
  padding: 10px;
  color: white;
}
.feedBack > div:nth-child(1) {
  display: flex;
  justify-content: flex-end;
}
.feedBack > div > blockquote {
  font-style: italic;
}
.feedBack > div > .MuiSvgIcon-root {
  position: relative;
  top: -10px;
  color: rgba(211, 211, 211, 0.37);
}
.feedBack > div:nth-child(2) {
  display: flex;
  flex-direction: column;
}
